---
import { buttonVariants } from '@/components/ui/button';

import { siteConfig } from '@/config/site';
import { cn } from '@/lib/utils';
import { Icon } from 'astro-icon/components';
import { ThemeToggle } from '@/components/theme-toggle';

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<footer class={cn(className)}>
  <div class="container flex flex-col items-center justify-center gap-4 pb-5">
    <hr class="w-full my-1 md:my-3" />

    <div
      class="flex w-full justify-between items-center gap-4 md:flex-row md:gap-2 md:px-0"
    >
      <p class="text-xs">Front End Platform Engineering</p>
      <div class="flex gap-2">
        <a
          href="/newsletter"
          rel="noopener noreferrer"
          class="text-gray-500 hover:text-gray-700"
        >
          <Icon name="mdi:email-newsletter" class="mr-2 size-5" />
        </a>
        <a
          href={siteConfig.links.twitter}
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-500 hover:text-gray-700"
        >
          <Icon name="twitter" class="mr-2 size-4" />
        </a>
      </div>
    </div>
  </div>
</footer>
