---
import MainLayout from '@/layouts/main-layout.astro';
---

<MainLayout
  title="About"
  description="About Front End Platform Engineering"
  mainClass="container py-10"
>
  <section class="space-y-5 max-w-[50%]">
    <h1 class="font-heading text-4xl">About</h1>
    <p class="leading-normal text-muted-foreground sm:text-lg sm:leading-7">
      In the rapidly evolving landscape of front-end development, staying at the
      forefront of technology has never been more essential. We exist as a
      resource to help you stay up to date on the latest in frameworks,
      developer experience, tooling, design systems, accessibility, testing, and
      more.
    </p>
  </section>
</MainLayout>
