---
import { siteConfig } from '@/config/site';
import NewsletterEmail from '@/layouts/newsletter-email.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('emails');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<'emails'>;

const post = Astro.props;
const slug = Astro.params.slug;
const { Content } = await post.render();

if (!slug || !post) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  });
}
---

<NewsletterEmail {...post}>
  <Content />
  <hr />
  <p>That's all for now, folks! See you next month 👋</p>
  <p>
    Got thoughts or questions? I'd love to hear from you. My DMs <a
      href={siteConfig.links.twitter}
      target="_blank"
      rel="noopener noreferrer"
    >
      @fe_platform
    </a>
    are open.
  </p>
  <p>
    Enjoyed what you've read? Do the ultimate good deed – pass it on to a friend
    who'd love it as much as you did!
  </p>
</NewsletterEmail>
